.bullet:before {
  content: "•";
  margin-right:10px;
}

.nav.nav-explore {
  border-bottom: 1px solid #eee;
  > li {
    border-bottom:1px solid #ccc;
  }
  a > .glyphicon {
    .glyphicon-chevron-right;
    font-size:.8em;
  }
}
.nav.nav-explore .active > a {
  font-weight: bold;
  > .glyphicon {
    font-size:.8em;
    .glyphicon-chevron-down;
  }
}
.nav > .active > .nav {
  margin: 0 0 0 10px;
}