{% extends "layout.html" %}
{% load explore %}
{% load i18n %}
{% block meta_keywords %}21. Internationale Tattoo-Convention, 1. Dezember 2011, Berlin, Tattoo-Artists{% endblock %}
{% block center_block_header %}21. Internationale Tattoo-Convention{% endblock %}

{% block head %}<style type="text/css">
.centerBox h1.headster {margin-top:2em;}
.centerBox a {text-decoration:underline}
.seminars h1 {clear:both}
.seminars h1 a {color:white;text-decoration:none}
.seminars h2 {margin: 1em 0;}
.seminars .artistphoto {margin:0 1em 1em;float:right}
.seminars ul li{margin: .5em 0}
.seminar {clear:both;margin-top:5em;}
</style>{% endblock %}

{% block content %}
<div class="seminars">
	<img src="/media/downloads/680x962pxTattooPartyFuerBTCSeite.jpg"/>
</div>
{% endblock %}