{% extends "layout.html" %}
{% load i18n explore %}
{% block meta_keywords %}Materials,Information,Materialien,{% endblock %}
{% block center_block_header %}{% trans 'Material Guide' %}{% endblock %}
{% block content %}
    <style type="text/css">
        ul {list-style-type:none;}
    </style>
    <div id="material" style="padding: 15px;">
    <ul>
    	<li><a name="puretitanium"><img src="{{ STATIC_URL }}images/static/material_puretitanium.gif" width="291" height="58" alt="puretitanium" /></a></li>
        <li class="material_part">Il titanio é diventato uno dei materiali preferiti dai professionisti del Piercing. É un materiale molto duro e allo stesso tempo leggero, resistente alla maggior parte degli acidi e dei fluidi corporei. Non irrita né i tessuti né le ossa, ragion per cui viene usato per gli protesi chirurgiche permanenti. PER4 utilizza titanio de grado 2 e 23 (Ti6AL 4V Eli) e lo raccomanda per perforare.  Siamo in linea con la Europaen Nickel Directive.</li>

        <li><a name="ptfe"><img src="{{ STATIC_URL }}images/static/material_ptfe.gif" width="130" height="57" alt="ptfe" /></a></li>
        <li class="material_part">Vantaggi del P.T.F.E. (Politetrafluoretileno):
          <ul>
				<li>E´possibile sterilizzarlo in autoclave fino a 160 gradi.</li>
				<li>E´totalmente flessibile, biocompatibile e traslucido.</li>
                <li>A oggi non si sono riscontrati casi di reazioni allergiche.</li>
                <li>E´possibile tagliarlo e aggiustarlo secondo necessitá.</li>
                <li>Materiale raccomandato per perforare.</li>
          </ul>
        </li>
        <li><a name="pmfk"><img src="{{ STATIC_URL }}images/static/material_pmfk.gif" width="127" height="89" alt="pmfk" /></a></li>
        <li class="material_part">Vantaggi del P.M.F.K. (polimeri plastici chirurgici flessibili):
        	<ul>
				<li>E´possibile sterilizzarlo in autoclave a 120 gradi per 20 minuti o a 134 gradi per 5 minuti.</li>
				<li>E´meno flessibile del P.T.F.E. e permette la creazione di barbell circolari o di banane.</li>
        	    <li>É disponibile in vari colori. I piercing in teflon colorato sono altamente biocompatibili.</li>
        	    <li>E´possibile tagliarlo e aggiustarlo secondo necessitá.</li>
        	</ul>
        </li>
        
        <li><a name="surgical"><img src="{{ STATIC_URL }}images/static/material_surgical.gif" width="344" height="52" alt="surgical" /></a></li>
        <li class="material_part"> PER-4  utilizza acciaio chirurgico 316LVM - ASTM F138-97. lo stesso impiegato ormai da oltre vent'anni nella chirurgia . L'acciaio 316LVM viene fuso in assenza di ossigeno e di elementi tossici per ridurre la proporzione di carbonio e di altri elementi che potrebbero contaminare i piercing.</li>

        <li><a name="black_gold"><img src="{{ STATIC_URL }}images/static/material_balckgold.gif" width="344" height="56" alt="black & gold" /></a></li>
        <li class="material_part">I nostri articoli Black &amp; Gold sono prodotti in accacio chirurgico 316L e coperti con una copertura resistente all a’brasione in PVD (Physical Vapour Deposition) .</li>

        <li><a name="organics"><img src="{{ STATIC_URL }}images/static/material_organics.gif" width="240" height="70" alt="organics" /></a></li>
        <li class="material_part"> I nostri prodotti in corno oppure in legno sono tutti pezzi unici, che sono stati realizzati a mano su nostra / vostra richiesta. Nessun pezzo è iguale al 100% all’altro. I materiali corrispondono alle normative europee di importazione e sono veri prodotti naturali. Per-4 non consiglia questi prodotti per un primo utilizzo. Le leghe metaliiche sono composte da acciaio chirurgico 316L.</li>

        <li><a name="gold"><img src="{{ STATIC_URL }}images/static/material_gold.gif" width="206" height="49" alt="Gold 18K" /></a></li>
        <li class="material_part"> PER4 offre piercing di base e gioielli esclusivamente in oro 18K (oro 750). Il nostro oro è privo di nichel e lucidato a specchio.</li>

        <li><a name="silver"><img src="{{ STATIC_URL }}images/static/material_sterling.gif" width="330" height="76" alt="sterling silver" /></a></li>
        <li class="material_part">Tutti i piercing in argento da noi offerti vengono prodotti sotto il continuo controllo di qualità. PER4 utilizza esclusivamente argento Sterling 925. Tutti i cristalli Swarowski sono incastonati. L’asta a banana, che è in contatto diretto con la pelle è composta a scelta da acciaio chirurgico 316L oppure da titanio.</li>

        <li><a name="fluor"><img src="{{ STATIC_URL }}images/static/material_uv.gif" width="227" height="51" alt="UV Fluur" /></a></li>
        <li class="material_part">PER4 vi offre un’ampia gamma di articoli acrilici che grazie ai loro colori, forme, tonalitá fluorescenti, prezzi competitivi godono di una grande approvazione sul mercato. Si consiglia, comunque, la prudenza, visto che la loro biocompatibilitá non é ancora provata scientificamente, infatti l’acrilico non si puó né sterilizzare in autoclave, né usare per perforare. Le aste in metallo del piercing acrilico possono essere ordinati a scelta in titanio o in acciaio chirurgico 316L.</li>
    </ul>
</div>
{% endblock %}