{% extends "layout.html" %}
{% load explore %}
{% load i18n %}

{% block meta_keywords %}Shipping,Shipping Information,Versand,Versandt,Versandinformationen,{% endblock %}
{% block center_block_header %}Lieferung & Versand für Gewerbetreibende 2013{% endblock %}


{% block content %}
    <div id="shipping-page">
        <div class="titlespacer">Wir machen grundsätzlich keine Nachlieferungen.
            Bitte bestellen Sie nicht gelieferte Waren bei der nächsten Bestellung erneut.</div>
        <h2>Standard Versand mit UPS</h2>
        <div class="disclaimer">

            <div class="titlespacer">Für Warenlieferungen (Tattoo, Piercing und Medical Equipment)
                innerhalb Deutschlands (bis max. 20 kg):</div>

            <table class="table table-condensed table-bordered">
            <tr><td>Versandkosten</td><td>2,95 EUR</td><td>ab 150 € gratis</td></tr>
            <tr><td>Verpackungspauschale</td><td>1,95 EUR</td><td>unabhängig vom Bestellwert</td></tr>
            <tr><td>Nachnahmegebühr Inland</td><td>6,95 EUR</td><td>UPS</td></tr>
            <tr><td>Paypal & Kreditkarte</td><td>2,95 EUR</td><td>&nbsp;</td></tr>
            </table>



            <div class="titlespacer">Für Warenlieferungen nach Österreich, Frankreich, Spanien,
                Portugal, Großbritannien, Schweden, Italien, Belgien, Dänemark, Luxemburg,
                Niederlande, Polen, Slowenien, Rumänien, Slowakei und Tschechien im Premium
                Versand ca. 2 Werktage (bis max. 10 kg):</div>
            <table class="table table-condensed table-bordered">
            <tr><td>Versandkosten</td><td>14,95 EUR</td><td>ab 500 € gratis</td></tr>
            <tr><td>Verpackungspauschale</td><td>1,95 EUR</td><td>unabhängig vom Bestellwert</td></tr>
            <tr><td>Nachnahmegebühr</td><td>15,90 EUR</td><td>UPS</td></tr>
            </table>

            <div class="titlespacer">Für Warenlieferungen nach Liechtenstein, Schweiz und Norwegen
                im Standard Versand – ca. 4 Werktage (bis max. 10 kg):</div>
            <table class="table table-condensed table-bordered">
            <tr><td>Versandkosten</td><td>19,95 EUR</td><td>ab 500 € gratis</td></tr>
            <tr><td>Verpackungspauschale</td><td>1,95 EUR</td><td>unabhängig vom Bestellwert</td></tr>
            <tr><td>Nachnahmegebühr</td><td>15,90 EUR</td><td>UPS</td></tr>
            </table>

            <div>Portokosten mit höherem Gewicht oder in andere Länder als hier angegeben, werden
                gesondert berechnet.</div>
        </div>

        <h2>Express Saver Versand per UPS</h2>
        <div class="disclaimer">

            <div class="titlespacer">Für Warenlieferungen nach Belgien, Dänemark, Luxemburg,
                Niederlande, Polen und Tschechien im Express Saver Versand (bis max. 1 kg):</div>
            <table class="table table-condensed table-bordered">
            <tr><td>UPS Versand</td><td>25,00 EUR</td><td>Unabhängig vom Warenbestellwert</td></tr>
            <tr><td>Nachnahmegebühr</td><td>15,50 EUR</td><td></td></tr>
            </table>

            <div class="titlespacer">Für Warenlieferungen nach Österreich, Frankreich, Italien,
                Griechenland, Portugal und Spanien im Express Saver Versand (bis max. 1 kg):</div>
            <table class="table table-condensed table-bordered">
            <tr><td>UPS Versand</td><td>33,00 EUR</td><td>Unabhängig vom Warenbestellwert</td></tr>
            <tr><td>Nachnahmegebühr</td><td>15,50 EUR</td><td></td></tr>
            </table>

            <div class="titlespacer">Portokosten für Pakete mit höherem Gewicht oder in andere
                Länder als hier angegeben, werden gesondert berechnet.</div>

            <div><b>Zahlungsweisen:</b></div>
            <ul>
                <li>Vorauskasse (zur Überweisung senden wir nach Bestelleingang alle
                    notwendigen Daten)</li>
                <li>Kreditkarte (zzgl. 2,95€)</li>
                <li>Nachnahme (zzgl. Nachnahmegebühr)</li>
                <li>Lastschrifteinzug (nur nach Vereinbarung)</li>
                <li>Barzahlung im Per-4 Büro</li>
                <li>Paypal (zzgl. 2,95€)</li>
            </ul>

            <div>Alle angegebenen Preise verstehen sich in Euro pro Stück bzw. Set, exklusive der
                gesetzlichen Mehrwertsteuer.</div>
        </div>
    </div>
{% endblock %}