{% extends "user/profile/layout.html" %}
{% load i18n %}

{% block center_block_header %}{% trans 'Meine Adressen'%}{% endblock %}

{% block content %}
    <div class="center_box">
        <form method="post" id="address-form"  class="form-horizontal form-validated">
            {{ form }}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">{% trans 'Speichern' %}</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block jscriptlinks %}
{% include 'snippets/validation_scripts.html' %}
    <script>
        window.__options__ = {};
    </script>
    <script src="{{ STATIC_URL }}/scripts/libs/require.js" data-main="{{ STATIC_URL }}/scripts/pages/addresses"></script>
{% endblock %}