{% extends "user/profile/layout.html" %}
{% load i18n %}
{% load explore %}

{% block center_block_header %}{% trans 'Meine Bestellungen'%}{% endblock %}
{% block content %}
    <div class="center_box">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{% trans "Bestelldatum" %}</th>
                <th>{% trans "Bestellung" %}</th>
                <th>{% trans "Zahlart" %}</th>
                <th width="80%">{% trans "Artikel" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.create_time|date:"DATE_FORMAT" }}</td>
                <td>{{ order.status.get_html_label }}</td>
                <td>
                    {% if order.payment_method %}
                        {{ order.payment_method.get_html_label }}
                    {%  endif %}
                </td>
                <td>
                {% for item in order.orderitem_set.all %}
                    <div>{{  item }}</div>
                {% endfor %}
                </td>
            </tr>
            {% empty %}
                <tr>
                    <td colspan="4"><h3 class="centered">{% trans "Noch keine Bestellungen vorhanden!" %}</h3></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}