{% load i18n explore %}

<div style="position:relative;" class="left-block-announce">
	<img src="{{ MEDIA_URL }}/images/news/lucky-six-opening.jpg?20120307" class="anounce" alt="Jetzt auch im LuckySix direkt am Frankfurter Tor!" />
  
  <a href="http://www.per4store.com">
	<img src="{{ MEDIA_URL }}/images/news/leftcol_per4store.jpg?20110926" class="anounce" alt="Der Per4Store direkt am Eastgate Berlin Marzahn!" />
	</a>
	<a href="http://panorama.per-4.com">
	<img src="{{ MEDIA_URL }}/images/news/leftcol_per4panorama.jpg?20110926" class="anounce" alt="Der Per4Panorama Studio direkt am S Bahnhof Landsberger Allee / Berlin!" />
	</a>
</div>