{% load i18n explore %}

<div style="position:relative;" class="left-block-announce">
    <a class="left-announce" href="http://xberg.per4store.com" title="Der Per4Store in der Bergmannstrasse Berlin Kreuzberg!">
	    <img src="{{ STATIC_URL }}images/static/PER4STORE-Kreuzberg-01.jpg?20130817" class="anounce" alt="Der Per4Store direkt in Berlin Kreuzberg, Bergmannstrasse!" />
	</a>
    <a class="left-announce" href="http://koepenick.per4store.com" title="Der Per4Store direkt im Forum Berlin Köpenick!">
        <img src="{{ STATIC_URL }}images/static/PER4STORE-Koepenick.jpg?20130817" class="anounce" alt="Der Per4Store direkt im Forum Berlin Köpenick!" />
    </a>
    <a class="left-announce" href="http://marzahn.per4store.com" title="Der Per4Store direkt am Eastgate Berlin Marzahn!">
        <img src="{{ STATIC_URL }}images/static/PER4STORE-Marzahn.jpg?20130817" class="anounce" alt="Der Per4Store direkt am Eastgate Berlin Marzahn!" />
    </a>
</div>