{% load i18n %}
{% load explore %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{% block title %}{% block pagetitle %}{% endblock %}{% trans 'Welcome to Per-4.com' %}{% endblock %}</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon"/>
    {% block head %}{% endblock %}
</head>

<body onload="getOS()">
    <div class="center_box">
        <div id="reg_form">
            {% if message %}
                <H3>{{ message }}</H3>
            {% endif %}
        </div>
    </div>
</body>
</html>
