{% extends "user/profile.html" %}
{% load i18n %}

{% block center_block_header %}{% trans 'MY ACCOUNT - '%}{% trans 'Change Password' %}{% endblock %}

{% block content %}
<div class="center_box"><!-- reg begin -->
    <div id="required"><div>{% trans "Required fields" %}</div></div>
    <div class="reg_title"><label class="reg_title_bg">{% trans "Change Password" %}</label></div>
    <div class="reg_bg"></div>
    <div id="reg_form">
    <form id="myform" action="/user/profile/changepassword/" method="post">
    {{ message }}
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
       <tr>
         <td class="change_text">{% trans 'New Password' %}</td>
         <td><div class="reg_class2"><div class="change_input">{{ form.password }}
         {% if form.password.errors %}
         <label class="reg_ico"><img align="absmiddle" src="/media/images/cross.png" alt="error">{% for error in form.password.errors %}{{ error }}{% endfor %}</label>
         {% endif %}
         </div></div></td>
       </tr>
       <tr>
         <td class="change_text">{% trans 'Retype Password' %}</td>
         <td><div class="reg_class2"><div class="change_input">{{ form.password2 }}
         {% if form.password2.errors %}
         <label class="reg_ico"><img align="absmiddle" src="/media/images/cross.png" alt="error">{% for error in form.password2.errors %}{{ error }}{% endfor %}</label>
         {% endif %}
         </div></div></td>
       </tr>
       <tr>
       <td></td>
       <td>
           <div class="button active floatLeft spaced"><input type="submit" value="{% trans "Save Profile" %}"/></div>
       </td>
       </tr>
    </table>
    </form>
    </div>
</div>
{% endblock %}