{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head %}

{% endblock %}

{% block center_block_header %}{% trans 'Login' %}{% endblock %}

{% block content %}
<div class="center_box">
   {% crispy email_login_form %}
   {% crispy email_zipcode_form %}
   

    <div class="control-group">
        <a href="/user/registration/?studio={{ studio }}" title="Sign up" style="text-decoration:underline;">{% trans "Sign up for Per-4.com" %}</a>
    </div>
    <div class="control-group">
        <a href="/user/profile/password/" style="text-decoration:underline;">{% trans "forgot your password?" %}</a>
    </div>
</div>
{% endblock %}


{% block onloadAll %}
  verifyEnterToSubmit('#password');
  $('#id_email').focus();
{% endblock %}