{% load explore %}
{% load i18n %}

<div id="leftBarNav">
	{% if not request.user.is_authenticated %}
	    <div class="first {{ request.path|selected:"/user/login/" }} firstlevel"><a href="/user/login/?forwardURL=/user/shopping_cart/">Login</a></div>
	    <div class="next {{ request.path|selected:"/user/shopping_cart/" }} firstlevel"><a href="/user/shopping_cart/">{% trans 'Shopping Cart' %}</a></div>
	{% else %}
		<div class="first firstlevel {{ request.path|selected:"/user/shopping_cart/" }}"><a href="/user/shopping_cart/">{% trans 'Shopping Cart' %}</a></div>
		<div class="next firstlevel {{ request.path|selected:"/user/profile/account/" }}"><a href="/user/profile/account/">{% trans 'My Account' %}</a></div>
		<div class="next firstlevel {{ request.path|selected:"/user/profile/changepassword/" }}"><a href="/user/profile/changepassword/">{% trans 'Change Password' %}</a></div>
	{% endif %}
</div>