{% extends "layout.html" %}
{% load i18n %}

{% block center_block_header %}{% trans 'Signup' %}{% endblock %}

{% block content %}

<div class="center_box">

   <div class="reg_title"><label class="reg_title_bg">{% trans 'Create a new account' %}</label><span>{% trans 'A valid e-mail address is required for registration' %}</span></div>
   <div class="reg_bg"></div>
   <br/>
   <br/>
   <div class="reg_form">
   <form action="{% if use_ssl %}https://{{ request.META.HTTP_HOST }}/{% endif %}/user/registration/" method="post" id="actualregform">
   <input type="hidden" id="role" value="K" name="role" />
   <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td colspan="2"><div id="error"></div></td>
      </tr>
      <tr>
        <td class="reg_text">{% trans 'E-mail Address' %}</td>
        <td><div class="reg_class"><div class="reg_input">
        	<input type="text" name="email" value="{% if register_form.email.data %}{{ register_form.email.data }}{% endif %}" id="id_email" onblur="checkMail(this.value);"/>
        	<span id="error_email">
        	{% if register_form.email.errors %}
        	<label class="reg_ico"><img align="absmiddle" src="/media/images/cross.png" alt="error">{% for error in register_form.email.errors %}{{ error }}{% endfor %}</label>
        	{% endif %}
        	</span>
        	</div></div>
        </td>
      </tr>
      <tr>
        <td class="reg_text">{% trans 'Password' %}</td>
        <td><div class="reg_class"><div class="reg_input">
        	<input name="password" type="password" />
        	{% if register_form.password.errors %}
        	<label class="reg_ico"><img align="absmiddle" src="/media/images/cross.png" alt="error" />{% for error in register_form.password.errors %}{{ error }}{% endfor %}</label>
        	{% endif %}
        	</div></div>
        </td>
      </tr>
      <tr>
        <td class="reg_text">{% trans 'Retype password' %}</td>
        <td><div class="reg_class"><div class="reg_input">
        	<input name="password2" type="password" />
        	{% if register_form.password2.errors %}
        	<label class="reg_ico"><img align="absmiddle" src="/media/images/cross.png" alt="error" />{% for error in register_form.password2.errors %}{{ error }}{% endfor %}</label>
        	{% endif %}
        	</div></div></td>
      </tr>
      <tr>
        <td class="reg_text">{% trans 'Continue secure:' %}</td>
        <td><input id="id_use_ssl" type="checkbox" name="use_ssl" onchange="switchSSL()" /></td>
      </tr>

      <tr>
        <td colspan="2">
        	<br/><br/>
        	<table border="0" cellspacing="15px" cellpadding="0" class="reg_submit">
              <tr>
              <td align="left"><b>{% trans 'Continue As' %}</b></td>
			  {% ifnotequal studio 'True' %}
                <td align="center">
                    <div class="button active spaced"  onclick="$('#role').val('E'); $('#actualregform').submit();"><a>{% trans "Retail" %}</a></div>
                </td>
              <td align="center"><b>{% trans 'Or As' %}</b></td>
				{% endifnotequal %}
                <td align="center">
			        <div class="button active spaced"  onclick="$('#role').val('K'); $('#actualregform').submit();"><a>{% trans "Wholesale" %}</a></div>
                </td>
              <td align="right"><b>{% trans 'Customer' %}</b></td>
              </tr>
            </table>
        </td>
      </tr>
    </table>
    </form>
   </div>
</div>
{% endblock %}