{% ifnotequal LANGUAGE_CODE "en" %}
<script src="{{ STATIC_URL }}scripts/localization/messages_{{ LANGUAGE_CODE }}.js"></script>
{% endifnotequal %}
  <script>
  $("form.form-validated").each(function (index, form) {
      $(form).validate({
          errorClass: "help-block"
          , errorElement: "span"
          , validClass:"valid"
          , highlight: function (element, errorClass, validClass) {
              $(element).closest(".form-group").addClass("has-error").removeClass(validClass).removeClass(validClass);
          }
          , unhighlight: function (element, errorClass, validClass) {
              var name = $(element).attr("name");
              if(name && $(element).closest(".controls").find('[for=id_'+name.replace(/\./g,"\\.")+']').filter("[generated]").remove().length)
                  $(element).closest(".form-group").removeClass("has-error").addClass(validClass);
          }
          , errorPlacement: function(error, element) {
              if(element.parent().find("."+this.errorClass+"[generated=true]").length)return;
              error.attr("generated", true);
              if (element.parent().is(".input-append"))
                  error.insertAfter(element.parent());
              else
                  error.appendTo(element.closest(".controls,.form-group"));
          }
          , rules: {{ form.getRules }}
       });
  });
</script>