{% extends "base.html" %}
{% load i18n %}
{% load explore %}

<!-- Body Section -->
{% block body %}
<div id="leftBox" class="span2 leftBox">
    {% block left_block %}
        {% include "left_menu_inc.html" %}
    {% endblock %}

    {% block left_block_announce %}
        {% include "left_block_announce.html" %}
    {% endblock %}
</div>

<div id="centerBox" class="span8 centerBox">
    {% block centerbox %}{% endblock %}
</div>

<div id="rightBox" class="span2 rightBox omega">
    {% include 'user/profile/cart_items.html' %}
</div>

{% block bottom %}{% endblock %}
{% endblock %}