{% extends "layout_free_center.html" %}
{% load explore %}
{% load i18n %}
{% load url from future %}

{% block centerbox %}
  <div class="homepage" id="home-page-content">
    <div id="slideshow-container" style="height:500px;width:100%;">
        <div id="slideShow"></div>
    </div>







    <div class="vertical first">
      <a href="/tattoo/" title="Neu in TATTOO">
        <img src="/media/images/news/welcome_1.jpg?20120321"  alt="Neu in TATTOO"/>
       </a>
    </div>
    <div class="vertical" style="margin-top:1em;">
        <img src="/media/images/news/welcome_5.jpg?20120321" alt="&th Anniversary Discount / 7ter Geburtstagsrabatt"/>
    </div>
    <div class="homepage-previews">
      <div class="preview-item">
        <a href="/piercing/uv_fluor/AXS-SET/" title="NEUES ACRYL DEHNSPIRALEN SET">
          <img src="/media/images/news/welcome_2.jpg?20111208" alt="NEUES ACRYL DEHNSPIRALEN SET"/><p class="caption">NEUES ACRYL DEHNSPIRALEN SET</p>
        </a>
      </div>
      <div class="preview-item">
        <a href="/tattoo/tattoo_inks/XSPA/" title="SCHABLONENPAPIER - HEKTOGRAPHISCHES PAPIER">
          <img src="/media/images/news/welcome_3.jpg?20120321" alt="SCHABLONENPAPIER - HEKTOGRAPHISCHES PAPIER"/><p class="caption">SCHABLONENPAPIER - HEKTOGRAPHISCHES PAPIER</p>
        </a>
      </div>
      <div class="preview-item">
        <img src="/media/images/news/welcome_4.jpg?20120321" alt="FAKE SPIRAL"/><p class="caption">Frankfurt Convention<br/>30. M&auml;rz - 1. April</p>
      </div>
    </div>
  </div>
{% endblock %}


{% block jscriptlinks %}
    <link rel="stylesheet" href="{{ STATIC_URL }}scripts/slider/css/anythingslider.css" type="text/css" media="screen" />
    <script src="{{ STATIC_URL }}scripts/slider/js/jquery.anythingslider.min.js"></script>
    <script>
        window.__options__ = {slideShow:{getURL:"{% url 'slideshow-get-route' name='homepage_slide_show' %}", root:"#slideshow-container"}};
    </script>
    <script src="{{ STATIC_URL }}scripts/libs/require.js" data-main="{{ STATIC_URL }}/scripts/pages/slideshow"></script>
{% endblock %}