{% load i18n %}
{% load url from future %}
  

{% url 'login-route' as login_url %}
{% url 'login-zipcode-route' as login_zipcode_url %}
{% url 'forgot-password-route' as forgot_password_url %}
{% url 'signup-route' as signup_url %}
<ul class="nav nav-tabs">
    <li {% ifequal login_url request.path %}class="active"{% endifequal %}>
      <a href="{{ login_url }}">
        {% trans "Anmelden mit Email" %}</a></li>
    <li {% ifequal login_zipcode_url request.path %}class="active"{% endifequal %}>
      <a href="{{ login_zipcode_url }}">
        {% trans "Anmelden mit Kundennummer" %}</a></li>
    <li {% ifequal forgot_password_url request.path %}class="active"{% endifequal %}>
      <a href="{{ forgot_password_url }}">
        {% trans "Passwort vergessen" %}</a></li>
    <li {% ifequal signup_url request.path %}class="active"{% endifequal %}>
      <a href="{{ signup_url }}">
        {% trans "Registrieren" %}</a></li>
</ul>
