{% extends "layout.html" %}
{% load url from future %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head %}

{% endblock %}

{% block center_block_header %}{% trans 'Registrierung - Schritt 2 von 2' %}{% endblock %}

{% block content %}
<div class="center_box">
   {% crispy form %}
</div>
{% endblock %}

{% block jscriptlinks %}
  <script type="text/javascript" src="{{ MEDIA_URL}}scripts/libs/jquery.validate.min.js?{{ STATIC_TOKEN }}"></script>
  <script>
    $(function () {
      $("body").find("form.form-validated").each(function (index, form) {
        $(form).validate({
          errorClass: "help-inline"
          , errorElement: "span"
          , highlight: function (element, errorClass, validClass) {
            $(element).closest(".control-group").addClass("error").removeClass(validClass);
          }
          , unhighlight: function (element, errorClass, validClass) {
            $(element).closest(".control-group").removeClass("error").addClass(validClass);
          }
          , rules: {
            first_name: { required: true }
            , last_name: { required: true }
            , company_name: { required: true }
            , opening_hours: { required: true }
          }
        });
      });
   });
  </script>
{% endblock %}
