{% extends "layout.html" %}
{% load url from future %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head %}

{% endblock %}

{% block center_block_header %}{% trans 'Signup' %}{% endblock %}

{% block content %}
<div class="center_box">
      {% crispy register_form %}
</div>
{% endblock %}

{% block jscriptlinks %}
  <script type="text/javascript" src="{{ MEDIA_URL}}scripts/libs/jquery.validate.min.js?{{ STATIC_TOKEN }}"></script>
  <script>
      $("body").find("form.form-validated").each(function(index, form){
        $(form).validate({
          errorClass: "help-inline"
          ,errorElement: "span"
          ,highlight: function (element, errorClass, validClass) {
            $(element).closest(".control-group").addClass("error").removeClass(validClass);
          }
          , unhighlight: function (element, errorClass, validClass) {
            $(element).closest(".control-group").removeClass("error").addClass(validClass);
          }

          , rules : {
            email: { remote: "{% url 'WebShop.apps.user.views.auth.check_mail' %}", required: true, email: true }
            , password: {required: true}
            , password2: {required: true}
          }
        });
      });
  </script>
{% endblock %}
