{% extends "base.html" %}
{% load i18n %}
{% load explore %}

<!-- Body Section -->
{% block body %}
<div class="col-lg-2 leftBox">
    {% block left_block %}
        {% include "left_menu_inc.html" %}
    {% endblock %}

    {% block left_block_announce %}
        {% include "left_block_announce.html" %}
    {% endblock %}
</div>

<div id="centerBox" class="col-lg-8 centerBox">
    {% block centerbox %}{% endblock %}
</div>

<div id="rightBox" class="col-lg-2 rightBox">
    {% include 'user/profile/cart_items.html' %}
    <div class="right_announce_fb" id="fbLikeContainer"></div>
</div>

{% block bottom %}{% endblock %}
{% endblock %}