{% load explore %}
{% load i18n %}
		
<ul id="leftBarNav" class="clearfix leftBarNav">
	{% for currshop in shops %}
		<li class="toplevel {% if forloop.first %}first{% else %}next{%endif%} {{ request.path|selected_start:currshop.ref }}">
			<h2><a class="link" href="/{{ currshop.ref }}/">
                {% ifequal shop.ref currshop.ref %}
                    &raquo;&nbsp;
                {% endifequal %}
                {{ currshop.name|locale:LANGUAGE_CODE }}
                </a></h2>
		</li>
		{% ifequal shop.ref currshop.ref %}
			<li><ul class="selectedshop_content">
			{% for item, count in toplevel %}
				{% if count %}
					{% ifequal line.ref item.ref %}
					<li class="firstlevel selected next">
						<a href="/{{ shop_ref }}/{{ item.ref }}/" class="link {% if not art_type %}plusbg{% endif %}">
							{{ item.name|locale:LANGUAGE_CODE }}</a>
					</li>
					{% for sl_item in secondlevel %}
						<li class="secondlevel {% ifequal sl_item.id art_type_id %}selected{% endifequal %}">
								<a href="/{{ shop_ref }}/{{ item.ref }}/?t={{ sl_item.id }}">{{ sl_item|locale:LANGUAGE_CODE|truncate:23 }}</a>
						</li>
					{% endfor %}
					{% else %}
					<li class="firstlevel {% if forloop.first %}first{% else %}next{%endif%}">
						<a class="link" href="/{{ shop_ref }}/{{ item.ref }}/">
							{{ item.name|locale:LANGUAGE_CODE }}</a>
					</li>
					{% endifequal %}
				{% endif %}
			{% endfor %}
			</ul></li>
		{% endifequal %}
	{% endfor %}
</ul>