{% extends "user/order/layout.html" %}
{% load i18n %}

{% block center_block_header %}{% trans 'Meine Adressen'%}{% endblock %}

{% block content %}
    <div class="center_box">
        <form method="post" class="form-horizontal form-validated">
            {{ form }}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">{% trans 'Weiter' %}</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block jscriptlinks %}
{% include 'snippets/validation_scripts.html' %}
{% endblock %}