{% extends "layout_free_center.html" %}
{% load i18n %}
{% load explore %}
{% load url from future %}

{% block centerbox %}
    {% block center_block_ignore_header %}
        {% spaceless %}
            <h2 class="title">{% block center_block_header %}{% trans "Bestellung abschliessen" %}{% endblock %}</h2><ul class="nav nav-tabs">
                {% url 'cart-route' as cart_url %}
                {% url 'confirm-address-route' as address_url %}
                {% url 'checkout-route' as checkout_url %}

                <li {% ifequal cart_url request.path %}class="active"{% endifequal %}>
                <a class="nav-tab-link" href="{{ cart_url }}">
                    1. {% trans 'Shopping Cart' %}</a></li>

                <li {% ifequal address_url request.path %}class="active"{% endifequal %}>
                <a class="nav-tab-link" href="{{ address_url }}">
                    2. {% trans "Adresse Best&auml;tigen" %}</a></li>

                <li {% ifequal checkout_url request.path %}class="active"{% endifequal %}>
                <a class="nav-tab-link" href="{{ checkout_url }}">
                    3. {% trans "Zahlart" %}</a></li>
            </ul>
        {% endspaceless %}
    {% endblock %}
    {% block content %}{% endblock %}
{% endblock %}


