{% extends "user/profile/layout.html" %}
{% load i18n %}

{% block center_block_header %}{% trans 'Establish Payment Method' %} {% trans request.user.get_profile.roleName.upper %}{% endblock %}

{% block content %}
<div class="center_box">
    <form method="post" class="form-horizontal form-validated">
        <div class="reg_notice"><p>
            {% trans "You will only need to fill in your payment method for your first purchase or when you wish to change it." %}</p></div>

        {{ form  }}
        <div id="DirectForm" class="paymentforms hidden">
            {{ bankaccount_form  }}
        </div>
        <div id="CreditForm" class="paymentforms hidden">
            {{ creditcard_form  }}
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">{% trans 'Abschicken' %}</button>
        </div>
    </form>
</div>
{% endblock %}

{% block jscripts %}
$(function(){
    $('#methodfields input[type="radio"]').click(
                function()
                {
                    $('#myForm div.paymentforms').hide();
                    $('#' + this.value + 'Form').show();
                }
    );
});
{% endblock %}
