{% extends "layout_free_center.html" %}
{% load i18n %}
{% load explore %}
{% load url from future %}


{% block title %}Per-4 | {{ line.shop.name|locale:LANGUAGE_CODE }} - {{ af.desc|locale:LANGUAGE_CODE }} - {{ line.name|locale:LANGUAGE_CODE }}{% endblock %}
{% block meta_keywords %}{{ line.name|locale:LANGUAGE_CODE }},{{ art_type|locale:LANGUAGE_CODE }},{{ af.ref }},{{ af.desc|locale:LANGUAGE_CODE }},{% endblock %}
{% block left_block %}
  {% include "explore/left_menu_inc.html" %}
{% endblock %}

{% block centerbox %}
  <div class="articleInfo">
    <h2 class="title">{{ af.desc|locale:LANGUAGE_CODE }}</h2>
    <div class="items_list" id="ArticleDetail">
      {% include "explore/article_ajax.html" %}
    </div>
  </div>

  {% if also_bought %}
    <div class="articleInfo clearfix">
      <h3 class="title">{% trans "Others who bought this also bought:" %}</h3>
      <div id="also_bought_pane" class="additionalpanes">
        {% for article_family in also_bought %}
          <a class="additionalitem" title="{{ article_family.ref }} - {{ article_family.line.name|locale:LANGUAGE_CODE }}"
             href="/{{  article_family.line.shop.ref }}/{{  article_family.line.ref }}/{{ article_family.ref }}/">
            <img class="medium" alt="{{ article_family.line.name|locale:LANGUAGE_CODE }}" src="{{ article_family|check_image_med:article_family.line.shop.ref }}"/>
            {% with article_family.promotion as p %}{% if p %}
              <span class="promotionalIcons {{ p.type_ref|lower }}"><img src="{{ STATIC_URL }}images/icon_{{ p.type_ref }}_s.png" alt="{{ p.type_ref|upper }}"/></span>
            {% endif %}{% endwith %}
          </a>
        {% endfor %}
      </div>
    </div>
  {% endif %}
  <div id="type_pane" class="articleInfo clearfix"></div>
{% endblock %}

{% block jscripts %}
  <script>
    window.__options__.addToCartUrl = "{% url "add-to-cart-route" %}";
    window.__options__.toggleState = {{ show_state }};
    window.__options__.artTypeId = "{{ art_type.id }}";
  </script>
  <script src="{{ STATIC_URL }}scripts/libs/require.js" data-main="{{ STATIC_URL }}scripts/pages/explore"></script>
{% endblock %}
