{% extends "layout_free_center.html" %}
{% load explore %}
{% load i18n %}
{% load cache %}
{% block meta_keywords %}{{ line.name|locale:LANGUAGE_CODE }}{% if art_type %},{{ art_type|locale:LANGUAGE_CODE }}{% endif %},{% endblock %}
{% block title %}Per-4 | {{ line.shop.name|locale:LANGUAGE_CODE }} {{ line.name|locale:LANGUAGE_CODE }} {% if art_type %} - {{ art_type|locale:LANGUAGE_CODE }}{% endif %}{% endblock %}

{% block left_block %}
  {% include "explore/left_menu_inc.html" %}
{% endblock %}

{% block centerbox %}
    <div class="lineexplore">
    {{ line_html }}
    </div>
{% endblock %}

{% block jscripts %}
<script>
  var shop_ref = '{{ shop_ref }}';
  var line_ref = '{{ line_ref }}';
</script>
{% endblock %}
