{% extends "layout.html" %}
{% load explore %}
{% load i18n %}
{% block meta_keywords %}Lieferung am gleichen Tag bis zu 10km um Landsberger Allee 68A{% endblock %}
    {% block head %}
    	<link rel="stylesheet" type="text/css" href="/media/css/static.css" />
	{% endblock %}

{% block center_block_header %}Lieferservice{% endblock %}

{% block content %}
<div id="about_content">
	<h1>Kostenlose Lieferung noch am gleichen Tag!</h1>
	<div style="width:100%;margin:30px 0px;"><img src="/media/images/news/link-neuer-service.jpg" style="margin:0px auto;"/></div>
	<p class="answer">Gültig für Tattoo & Piercing Bestellungen bei Per-4, die <b>bis 13 Uhr</b> bei uns eintreffen und <b>über 150,00€</b> Nettowarenwert betragen. Bei Bestellung von Medical Equipment muss ein Wert von 200,00€ erreicht werden.</p>
	<p class="answer">Beliefert werden alle Studios im Umkreis von ca. 10km um unser Büro in der Landsberger Allee 68A (siehe Karte).</p>
	
	<div style="width:100%;margin:30px 0px;"><img src="/media/images/news/map-berlin.jpg" style="margin:0px auto;"/></div>
</div>
{% endblock %}