{% extends "layout_free_center.html" %}
{% load explore %}
{% load i18n %}
{% load url from future %}

{% block centerbox %}
  <div class="homepage" id="home-page-content">
    <div id="slideshow-container"  class="slideshow-container">
        <div id="slideShow">
            {% for item in slideshow %}
                <div>
                   {% if item.link %}<a href="{{ item.link }}" title="{{ item.title }}">{% endif %}
                    <img src="{{ MEDIA_URL }}/{{  item.src }}" alt="{{ item.title }}"/><p>{{ item.description }}
                  {% if item.link %}</a>{% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="homepage-previews">
    {% for item in links %}
        <div class="preview-item">
            <div class="preview-picture">
                {% if item.link %}<a href="{{ item.link }}" title="{{ item.title }}">{% endif %}
                    <img class="preview-picture-img" src="{{ MEDIA_URL }}/{{  item.src }}" alt="{{ item.title }}"/>{% if item.description.strip %}<p class="caption">{{ item.description }}</p>{% endif %}
                {% if item.link %}</a>{% endif %}
            </div>
        </div>
    {%  endfor %}
    </div>
  </div>
{% endblock %}


{% block jscriptlinks %}
    <script src="{{ STATIC_URL }}scripts/slider/js/jquery.anythingslider.min.js"></script>
    <script>
        $(function(){
            $("#slideShow").anythingSlider({ expand : true, buildStartStop : false, buildArrows : false, autoPlay : true, animationTime : 300, startPanel : 1, delay : 4000});
        });
    </script>
{% endblock %}