{% extends "layout.html" %}
{% load explore %}
{% load i18n %}
{% block meta_keywords %}Piercing Seminar, Tutorial{% endblock %}
{% block center_block_header %}Seminar{% endblock %}

{% block head %}<style type="text/css">
.centerBox h1.headster {margin-top:2em;}
.centerBox a {text-decoration:underline}
.seminars h1 {clear:both}
.seminars h1 a {color:white;text-decoration:none}
.seminars h2 {margin: 1em 0;}
.seminars .artistphoto {margin:0 1em 1em;float:right}
.seminars ul li{margin: .5em 0}
.seminar {clear:both;margin-top:5em;}
</style>{% endblock %}

{% block content %}
<div style="margin:15px 10px"><a href="/media/downloads/seminarcalendar2011.pdf">Seminar Anmeldung Download (PDF, 1.7 MB)</a>.</div>
<h1 class="headster">Freitag Seminar Kalender</h1>
<img src="/media/images/static/seminar/friday.jpg"/>
<h1 class="headster">Samstag Seminar Kalender</h1>
<img src="/media/images/static/seminar/saturday.jpg"/>
<h1 class="headster">Sonntag Seminar Kalender</h1>
<img src="/media/images/static/seminar/sunday.jpg"/>


<div class="seminars">
  <div class="seminar floatLeft">
    <h1><a name="basic_piercing">Seminar: Basic Piercing /Intim Piercing/ Nahtkurs Workshop/Hygiene im Tattoo & piercing Studio</a></h1>
    <h2>Marzena Tkacz (LOXODROM)</h2>
    <img src="/media/images/seminar/photos/MARZENA-BASIC.jpg" class="artistphoto"/>
    <p>arbeitet als Piecerin seit 1993 und  ist seit 2004 in BodMod Bereich tätig.
    Hatte in Polen medizinische Fachhochschule besucht und als Hebamme gelernt, danach Soziologie studiert.
    Zur beruflicher Weiterbildung gehören regelmäßige Teilnahmen an vielen dienstlichen Fortbildungen und Kursen ( z.B Charite Nahtkurse für PJ)  auch O.P.P und A.P.P Schulungen.
    Parralel zu Ihre Arbeit hat sie als Journalistin für polnische Tatöwier Zeitung geschrieben.
    Zu Zeit pierct in Loxodrom Studio in Berlin und schult in Piercingsbereich. 
    Kontakt unter ladypi@hotmail.de und <a href="http://www.loxodrom.de">www.loxodrom.de</a> wie über Facebook
    </p>
  </div>
  
  <div class="seminar floatLeft">
    <h1><a name="microdermal">Seminar: Microdermal</a></h1>
    <h2>ALEX (STICHCODE)</h2>
    <img src="/media/images/seminar/photos/ALEX - MICRODERMAL.jpg" class="artistphoto"/>
    Piercer seit Ende 2000, ausgebildet im Stahlstich Piercingstudio Cottbus durch Wumme
    März 2008 Wechsel ins S18 Tattoo und Piercingstudio Dresden
    Oktober 2008 Firmengründung mit Uwe
    STICHCODE BODYMODIFICATION im Kugelhaus

    <h2>CREDITS</h2>
    <ul>
      <li>November 2002 Intimpiercingworkshop Akademie für perkutanen Körperschmuck Bergisch Gladbach</li>
      <li>November 2002 Fortbildungsseminar OPP</li>
      <li>Oktober 2004 Fortbildungsseminar OPP</li>
      <li>Juni 2005 Schulung angewandte Hygiene im Piercingstudio in Essen</li>
      <li>Juni 2005 Grundlagen Sterilisation Melag</li>
      <li>Mai 2006 Fortbildungsseminar OPP</li>
      <li>Juni 2006 Wildcatpartnertreffen Essen „ Dokumentation in Piercingbetrieben und sterile Arbeitsweise“</li>
      <li>November 2007 1. BMXnet Conference in Essen</li>
      <li>November 2007 Intensivfortbildung für Piercer des EAPP</li>
      <li>August 2008 2. BMXnet Conference in Flyn</li>
      <li>Oktober 2009 3. BMXnet Conference in Essen</li>
    </ul>
  </div>

  <div class="seminar floatLeft">
    <h1><a name="basic_piercing">Seminar: Expressionistic / Realistic Portrait Tattooing</a></h1>
    <h2>George Mavridis (Tattooligans)</h2>
    <img src="/media/images/seminar/photos/GEORGE EXPRESS. REALISM PORTRAIT.jpg" class="artistphoto"/>
    <p>In diesem Seminar zeigt Euch Griechenlands
      Top-Tätowierer für realistische Tätowierungen
      sein ganzes Können. George erklärt jeden Arbeitsschritt im
      Detail und gibt sein über Jahre erworbenes Fachwissen
      preis. Falls dann doch noch Fragen offen
      sind: Einfach auf <a href="http://portal.tattoosoul.de ">portal.tattoosoul.de</a> in der entsprechenden
      Arbeitsgruppe anmelden und George
      Eure Fragen rund ums Seminar stellen! 
    </p>
  </div>

  <div class="seminar floatLeft">
    <h1><a name="basic_piercing">Seminar: Tattoomachine basics</a></h1>
    <h2>Stefan Fischer (Bavarian Custom Irons)</h2>
    <img src="/media/images/seminar/photos/STEPHAN BASIC TATTOOMACHINES.jpg" class="artistphoto"/>
    <p>Im Seminar zeigt und erklärt einer der besten
      Tätowiermaschinenbauer Europas die wichtigsten
      Basics zum Thema Tattoomaschinen. Stefan
      Fischer lässt sich von Euch beim Reparieren und
      Pimpen von Maschinen aller Art auf die Finger
      schauen! Jeder Arbeitsschritt wird bis ins kleinste
      Detail erklärt. Wer danach noch technische Fragen
      hat, geht einfach auf <a href="http://portal.tattoosoul.de ">portal.tattoosoul.de</a> und
      stellt sie Stefan persönlich! 
    </p>
  </div>

  <div class="seminar floatLeft">
    <h1><a name="basic_piercing">Seminar: Color realism portrait Tattooing</a></h1>
    <h2>Randy Engelhard (Heaven of colours Germany)</h2>
    <img src="/media/images/seminar/photos/RANDY - COLOUR REALISM.jpg" class="artistphoto"/>
    <p>Randy Engelhard ist nicht nur Spezialist für
      Farben, sondern auch einer der großen Namen in
      Sachen hyperrealistische Portrait-Tätowierung.
      Seine Arbeitsweise ist beeindruckend strukturiert:
      Vom Aufbau des Arbeitsplatzes, der Anordnung
      der Farbnäpfchen bis zum Ablauf der Sitzung
      – alles hat System. Im Seminar zeigt Euch der
      Cheyenne & Intenze jede Menge Tricks und gibt
       fachliche Infos zu Themen wie Farbenlehre und Perspektive. 
      Randy erklärt, was ein Tattoo richtig plastisch macht und wie
      eine langfristige Qualität erreicht werden kann.
      Falls dann doch noch Fragen offen
      sind: Einfach auf <a href="http://portal.tattoosoul.de ">portal.tattoosoul.de</a> und
      stellt sie Randy persönlich! 
    </p>
  </div>
  <div class="seminar floatLeft">
    <h1><a name="basic_piercing">Seminar: Automatic Tattooing</a></h1>
    <h2>Tommy Lee Wendtner</h2>
    <img src="/media/images/seminar/photos/TOMMY - AUTOMATIC TATTOING.jpg" class="artistphoto"/>
    <p>Dieses Seminar ist pure Inspiration! Denn Tommy
      Lee Wendtner, Horror-Routinier und unbelehrbarer
      Autodidakt, gewährt erstmals Einblicke in
      die Technik des Automatic Tattooing. Übersetzt
      bedeutet das: Tätowieren ohne nachzudenken.
      So entstehen in irrem Tempo geniale Black & Grey
      Horror-Motive. Grundlage dieser Arbeitsweise
      sind bestimmte Kreativtechniken, die Tommy
      im Seminar erklärt. Falls dann doch noch Fragen offen
      sind: Einfach auf <a href="http://portal.tattoosoul.de ">portal.tattoosoul.de</a> und
      stellt sie Tommy persönlich! 
    </p>
  </div>
  
  <div class="seminar floatLeft">
    <h1><a name="basic_piercing">Seminar: Realistic Trash Polka Tattooing</a></h1>
    <h2>Volko Merschky & Simone Pfaff</h2>
    <img src="/media/images/seminar/photos/VOLKO SIMONE- REALISTIC TRASH POLKA.jpg" class="artistphoto"/>
    <p>Mit der Schöpfung des „Realistic Trash Polka“
      haben Volko Merschky und Simone Pfaff der Kunst- und Tattoo-
      Welt ein Geschenk gemacht: Der Stil der Würzburger
      gilt als hoch innovativ und technisch perfekt.
      Er vereint realistische Motive in detaillierter
      Darstellung mit grafischen Elementen und Typografie.
      Die Umsetzung ist meist melancholisch,
      düster und manchmal verstörend. Weltpremiere: Das erste Seminar von Volko Merschky und Simone Pfaff 
      vom Buena Vista Tattoo Club auf der Tattoo Convention Berlin 2011. 
      Powered by TattooSoul.
    </p>
  </div>
  
  <div class="seminar floatLeft">
    <h1><a name="basic_piercing">Seminar: Color realism portrait Tattooing</a></h1>
    <h2>Alex de Pase (Tattoo Theater Italy)</h2>
    <img src="/media/images/seminar/photos/ALEX -COLOR REALISM.jpg" class="artistphoto"/>
    <p>In diesem Seminar erklärt Euch Alex der Portait-Maestro aus Italien jeden Arbeitsschritt und verrät Tips & Tricks bis zum fertigen Portrait.  Wem das noch nicht genug ist, der geht auf portal.tattoosoul.de und stellt in Alex‘ Arbeitsgruppe alle Fragen, die ihm noch auf der Seele brennen.
    </p>
  </div>


  <div class="seminar floatLeft">
    <h1><a name="basic_piercing">Seminar: Projekt Präsentation</a></h1>
    <h2>TattooSoul Kick Off Info-Seminar </h2>
    <img src="/media/images/seminar/photos/TATTOOSOUL-KICK OFF.jpg" class="artistphoto"/>
    <p>Der Start der Tattoo-Seminare auf der Tattoo Convention in Berlin wird 
      am Freitag den 02.12.12 um 15Uhr eingeleitet durch das Kick-Off Info-Seminar.
      Wir stellen TattooSoul, unsere Ziele und unser Team vor. Dieses Info-Seminar ist 
      GRATIS.
    </p>
  </div>

  <div class="seminar floatLeft">
    <h1><a name="basic_piercing">Seminar: Suspension Workshop </a></h1>
    <h2>Pain Solution Promo </h2>
    <img src="/media/images/seminar/photos/PAIN-SUSPENSION.jpg" class="artistphoto"/>
    <p>Pain Solution is a power packed rollercoaster of breathtaking entertainment, taking the audience on a ride trough beautiful and bizarre sideshow acts.
Pain Solution pushes the limits of body and mind, making every performance a visual experience of brutal aesthetics and extreme body control.

Pain Solution combines the art of fakirs and physical theatre to create a ritual experience, generating a rush of adrenaline and pure energy for both the performers and the spectators.

Pain Solution is proud to perform real acts, avoiding illusions and tricks. Always playing at high risk, always pushing for more, and always balancing on a sharp edge.

Pain Solution will never cease to shock and amuse! Every show will leave scars on the body and give the public a thrilling sensation never to be forgotten.
    </p>
  </div>

</div>

{% endblock %}