{% extends "layout.html" %}
{% load i18n %}
{% load explore %}
{% block meta_keywords %}Partner,Studios,Freunde,Kunden,{% endblock %}
{% block center_block_header %}<span id="page_titel">{% trans "Studios & Kunden" %}</span>{% endblock %}

{% block content %}
<div id="material">
	<div class="horizontal">
		<div class="segment" style="margin: 5px;text-align: center">
			<a href="http://www.berlin-piercing.de"><div class="title"><div>BYXE Berlin</div></div><img src="/media/studios/bip_3_3.png" 
					title="Byxe Piercing bei Berlin Ink, Tattoo und Piercing in Berlin Mitte an der Brückenstrasse 1, Telefon: 030 / 970 049 89!"
					alt="Byxe Piercing bei Berlin Ink, Tattoo und Piercing in Berlin Mitte an der Brückenstrasse 1, Telefon: 030 / 970 049 89!"/></a>
		</div>
		<div class="segment" style="margin: 5px;height:106px;width: 300px;text-align: center">
			<a href="http://www.naked-steel.de">
			<div class="title"><div>NAKED STEEL</div></div>
				<br/>
				<img src="/media/studios/ba-w.gif"
					title="Naked Steel piercing & bodymodification in Berlin Friedrichshain an der Mainzer Strasse 11, Telefon: 030 / 200 568 30!"
					alt="Naked Steel piercing & bodymodification in Berlin Friedrichshain an der Mainzer Strasse 11, Telefon: 030 / 200 568 30!"/>
			</a>
		</div>
	</div>
	<div class="horizontal">
		<div class="segment" style="margin: 5px;height:106px;width: 300px;text-align: center">
			<a href="http://www.carpe-diem-tattoo.de">
			<div class="title"><div>CARPE DIEM TATTOO & PIERCING</div></div>
				<img src="/media/studios/Carpe-Diem.jpg"
					title="Carpe Diem Tattoo & Piercing Köpenick, in Berlin am Stellingdamm 1, Telefon: 030 / 650 17 871!"
					alt="Carpe Diem Tattoo & Piercing Köpenick, in Berlin am Stellingdamm 1, Telefon: 030 / 650 17 871!" />
				
			</a>
		</div>
		<div class="segment" style="margin: 5px; width: 300px; height:106px; background-image:url(/media/studios/placeholder.jpg)">
			<a href="http://www.my-own.de">
			<div class="title"><div>MY OWN - tattoo - piercing - permanent make-up</div></div>
				<img src="/media/studios/MyOwn.jpg" 
					title="MyOwn Tattoo, Piercing, Permanent Make-Up in Potsdam, Lindenstrasse 5, Telefon: 0331/ 3795432!"
					alt="MyOwn Tattoo, Piercing, Permanent Make-Up in Potsdam, Lindenstrasse 5, Telefon:: 0331/ 3795432" />
			</a>
		</div>
	</div>
	<div class="horizontal">
		<div class="segment" style="margin: 5px; width: 300px; height:106px; text-align: center">
			<a href="http://www.burninghearttattoo.de">
				<div class="title"><div>BURNINGHEARTTATTOO.DE</div></div>
					<img src="/media/studios/burningheart.png" 
						title="Burning Heart Tattoo & Piercing in der Katharinengasse 12-14 (Citycenter), Giessen, Tel: 0641 / 79 17 71"
						alt="Burning Heart Tattoo & Piercing in der Katharinengasse 12-14 (Citycenter), Giessen, Tel: 0641 / 79 17 71" />            
            </a>
        </div>
		<div class="segment" style="margin: 5px; width: 300px; height:106px;text-align: center">
			<a href="http://www.myspace.com/tattoo_piercing_fn">
				<div class="title"><div>Die fröhlichen Stecher</div></div>
					<img src="/media/studios/ulli.jpg" 
						title="Tattoo & Piercing Die fröhlichen Stecher, Friedrichshafen, Baden-Württemberg, DE, Tel: 07541 / 3929870"
						alt="Tattoo & Piercing Die fröhlichen Stecher, Friedrichshafen, Baden-Württemberg, DE, Tel: 07541 / 3929870" />            
			</a>
		</div>
	</div>	
	<div class="horizontal">
		<div class="segment" style="margin: 5px; width: 300px; height:232px; background-image:url(/media/studios/placeholder.jpg)">
			<a href="http://www.psychocrew-tattoo.de">
				<div class="title"><div>Psychocrew Tattoo & Piercing</div></div>
					<img src="/media/studios/psychocrew.jpg" 
						title="Psychocrew Tattoo & Piercing, in 99974 im Herzen von Mühlhausen am Bastmarkt 29, DE, Tel: 03601 / 7990334"
						alt="Psychocrew Tattoo & Piercing, in 99974 im Herzen von Mühlhausen am Bastmarkt 29, DE, Tel: 03601 / 7990334" />            
			</a>
		</div>
		<div class="segment" style="margin: 5px; width: 300px; height:106px; background-image:url(/media/studios/placeholder.jpg)">
			<div class="title"><div>{% trans "This Could Be YOU!" %}</div></div>
			<div style="text-align: center; margin: 10px;padding-top: 20px; font-size: 14px;">EMAIL US!</div> 			
		</div>
		<div class="segment" style="margin: 12px 5px 5px 5px; width: 300px; height:106px; background-image:url(/media/studios/placeholder.jpg)">
			<div class="title"><div>{% trans "This Could Be YOU!" %}</div></div>
			<div style="text-align: center; margin: 10px;padding-top: 20px; font-size: 14px;">EMAIL US!</div> 			
		</div>
	</div>
	<div class="horizontal">
		<div class="segment" style="margin: 5px; width: 300px; height:106px; background-image:url(/media/studios/placeholder.jpg)">
			<div class="title"><div>{% trans "This Could Be YOU!" %}</div></div>
			<div style="text-align: center; margin: 10px;padding-top: 20px; font-size: 14px;">EMAIL US!</div> 			
		</div>
		<div class="segment" style="margin: 5px; width: 300px; height:106px; background-image:url(/media/studios/placeholder.jpg)">
			<div class="title"><div>{% trans "This Could Be YOU!" %}</div></div>
			<div style="text-align: center; margin: 10px;padding-top: 20px; font-size: 14px;">EMAIL US!</div> 			
		</div>
	</div>
	<div class="horizontal">
		<div class="segment" style="margin: 5px; width: 300px; height:106px; background-image:url(/media/studios/placeholder.jpg)">
			<div class="title"><div>{% trans "This Could Be YOU!" %}</div></div>
			<div style="text-align: center; margin: 10px;padding-top: 20px; font-size: 14px;">EMAIL US!</div> 			
		</div>
		<div class="segment" style="margin: 5px; width: 300px; height:106px; background-image:url(/media/studios/placeholder.jpg)">
			<div class="title"><div>{% trans "This Could Be YOU!" %}</div></div>
			<div style="text-align: center; margin: 10px;padding-top: 20px; font-size: 14px;">EMAIL US!</div> 			
		</div>
	</div>
</div>
{% endblock %}