{% extends "user/order/layout.html" %}
{% load i18n %}

{% block content %}
<div class="center_box" id="payment-page">
    <form method="post" class="form-horizontal form-validated">
        <div class="reg_notice"><p>
            {% trans "You will only need to fill in your payment method for your first purchase or when you wish to change it." %}</p></div>
        {{ form  }}
        <div id="DirectForm" class="paymentforms hidden for-DIRECT_DEBIT">
            {{ bankaccount_form  }}
        </div>
        <div id="CreditForm" class="paymentforms hidden for-CREDITCARD">
            {{ creditcard_form  }}
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">{% trans 'Abschicken' %}</button>
        </div>
    </form>
</div>
{% endblock %}

{% block jscriptlinks %}
    {% include 'snippets/validation_scripts.html' %}
{% endblock %}
{% block jscripts %}
    <script>
        window.__options__.methodTranslation = {{ available_methods }};
    </script>
    <script src="{{ STATIC_URL }}/scripts/libs/require.js" data-main="{{ STATIC_URL }}/scripts/pages/payment"></script>
{% endblock %}

