{% extends "user/order/layout.html" %}
{% load i18n %}

{% block content %}
    <div class="center_box">
        <form method="post" class="form-horizontal form-validated" id="address-form">
            {{ form }}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">{% trans 'Weiter' %}</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block jscriptlinks %}
    {% include 'snippets/validation_scripts.html' %}
    <script src="{{ STATIC_URL }}scripts/libs/require.js" data-main="{{ STATIC_URL }}scripts/pages/addresses"></script>
{% endblock %}