{% load i18n %}
<html xmlns="http://www.w3.org/1999/html">
<head>
    {% include "email/styles.html" %}
</head>
<body>
<div class="body-wrapper">
    <img class="logo" src="http://www.per-4.com/media/images/logo-l.png" alt="Per-4 Logo"/>

    {% block content %}{% endblock %}

    {% trans "Your Per-4 Team" %}
    <div class="impressum">
        {% trans "Landsberger Allee 117A - 10407 Berlin - Telefon +49 30 93 66 38 21 - Fax +49 30 93 66 38 22" %}<br/>
        <a href="http://www.per-4.com">www.per-4.com</a> - <a href="mailto:order@per-4.com">order@per-4.com</a>
    </div>
</div>
</body>
</html>