{% load explore %}
{% load i18n %}
{% load url from future %}

<div id="shopping-cart-container">
    <h2 class="shopping_cart_title title">
      <a class="link" class="active" href="{% url 'cart-route' %}">{% trans "My Cart" %}</a>
    </h2>
    <table class="table table-striped table-condensed shopping-cart-content">
    {% for option in cart.items %}
      <tr>
          <td class="cart-item-cell" style="text-align:right;"><a href="{% url 'cart-route' %}">{{ option.quantity }}</a></td>
          <td class="cart-item-cell" style="padding-left:4px; padding-right:4px;">x</td>
          <td class="cart-item-cell" style="text-align:left;">
                <a href="{% url 'cart-route' %}">{{ option.get_display_ref }}</a>
          </td>
          <td class="cart-item-cell">
              <a href="{% url 'cart-route' %}" title="{{ option.ref }}"><img alt="{{ option.article.article_family.ref }}"
              src="{{ option.article.article_family|check_image_low:option.article.article_family.line.shop.ref }}"/></a>
          </td>
        </tr>
    {% endfor %}
    </table>
    <div class="cart_bottom">
        <b class="pull-right">{% if cart %}{{ cart.total }}{% else %}0.00{% endif %} &euro;</b>
        {% trans "SUBTOTAL" %}
        </div>
    <div align="right"><a class="link" href="{% url 'cart-route' %}">{% trans "Zum Bezahlen" %} >></a></div>
</div>