{% extends "user/profile/layout.html" %}
{% load i18n %}
{% load explore %}
{% load url from future %}

{% block center_block_header %}{% trans 'Mein Einkaufskorb'%}{% endblock %}

{% block content %}
<div class="center_box" id="shopping-cart-body" >
    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th width="46" class="top"></th>
                <th width="41" class="top">{% trans 'Article' %}</th>
                <th width="86" class="top">{% trans 'Reference' %}</th>
                <th class="top">{% trans 'Size in MM' %}</th>
                <th width="52" class="top">{% trans 'COLOR' %}</th>
                <th width="66" class="top">{% trans 'Price P/P' %}</th>
                <th width="67" class="top">{% trans 'QUANTITY' %}</th>
                <th width="53" class="top">{% trans 'Total' %}</th>
            </tr>
        <thead>
        <tbody>
            {% for option in cart.items %}
                <tr class="cart-item-row" id="{{ option.id }}">
                    <td class="cart-cell"><a class="link delete-link" href="{% url "delete-from-cart-route" option.id %}"><img src="{{ STATIC_URL }}images/trash.png"></a></td>
                    <td class="cart-cell"><img alt="{{ option.article.article_family.ref }}" src="{{ option.article.article_family|check_image_low:option.article.article_family.line.shop.ref }}"/>	</td>
                    <td class="cart-cell"><a href="/{{ option.article.article_family.line.shop.ref }}/{{ option.article.article_family.line.ref }}/{{ option.article.article_family.id }}/" >{{ option.article.ref }}</a></td>
                    <td class="cart-cell">{{ option.article.compiledSize }}</td>
                    <td class="cart-cell">{{ option|create_ao_imgtag:option.article.article_family.line.shop.ref }}</td>
                    <td class="pricing cart-cell">
                    <span>{{ option.price }}</span>&nbsp;&euro;
                        {%  if option.discounted %}
                            <div class="is-discounted-tooltip">{%  trans "Mengenrabattpreis" %}</div>
                        {% endif %}
                    </td>


                      <td class="cart-cell"><input type="number" id="quantityfield_{{ option.id }}" name="{{ option.id }}" class="col-lg-1 digit cartQtyInput" value="{{ option.quantity }}"
                        maxlength="4"/></td>
                    <td class="cart-cell total"><span class="articleoption_total">{{ option.total }}</span>&nbsp;&euro;</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="{{ colspan|add:"9" }}"><h3 class="centered">{% trans "Noch keine Artikel hinzugef&uuml;gt!" %}</h3></td>
                </tr>

            {% endfor %}
        </tbody>
            <tfoot class="subTotalBox">
                <tr>
                    <td class="noborder" colspan="5"></td>
                    <td colspan="2">{% trans "Subtotal" %}</td>
                    <td><span id="totalPrice">{{ cart.total }}</span>&euro;</td>
                </tr>
                <tr>
                    <td class="noborder" colspan="5"></td>
                    <td align="right" colspan="2">
                    {% ifequal simple_role 'E' %}
                        {% trans "Thereof VAT" %}
                    {% else %}
                        {% trans "VAT" %}
                    {% endifequal %}
                    <span id="taxRate">{{ cart.taxRate }}</span>%</td>
                    <td><span id="taxAmount">
                    {% ifequal simple_role 'E' %}
                        {{ cart.tax_E }}
                    {% else %}
                        {{ cart.tax }}
                    {% endifequal %}
                    </span>&euro;</td>
                </tr>
                <tr>
                    <td class="noborder" colspan="5"></td>
                    <td colspan="5"><u><a href="/shipping/">{% trans 'Shipping Costs Apply' %}</a></u></td>
                </tr>
                <tr>
                    <td class="noborder" colspan="5"></td>
                    <td colspan="2">{% trans 'Total' %}:</td>
                    <td colspan="2"><span id="allTotal">
                    {% ifequal simple_role 'E' %}
                        {{ cart.all_total_E }}
                    {% else %}
                        {{ cart.all_total }}
                    {% endifequal %}
                    </span>&euro;</td>
                </tr>
            </tfoot>
    </table>

        <div class="form-actions">
            <a class="btn {% if cart.items %}refresh-cart-btn{% else %}disabled{% endif %}">{% trans "Save Cart" %}</a>
            <a {% if cart.items %}href="{% url "confirm-address-route" %}"{% endif %}
               class="pull-right btn btn-primary submit-cart-btn {% if not cart.items %}disabled{% endif %}">
                {% trans "Confirm Order" %}</a>
        </div>
</div>

{% endblock %}

{% block jscripts %}
    <script>
        window.__options__.updateCartUrl = "{% url "refresh-cart-route" %}";
    </script>
    <script src="{{ STATIC_URL }}scripts/libs/require.js" data-main="{{ STATIC_URL }}scripts/pages/shopping_cart"></script>
{% endblock %}
