{% extends "layout_free_center.html" %}
{% load bootstrap %}
{% load i18n %}
{% load explore %}
{% load url from future %}

{% block centerbox %}
  {% spaceless %}
    <ul class="nav nav-tabs">
      {% url 'login-route' as login_url %}
      {% url 'login-zipcode-route' as login_zipcode_url %}
      {% url 'forgot-password-route' as forgot_password_url %}
      {% url 'signup-route' as signup_url %}
      <li class="{% active login_url request.path %}">
        <a class="nav-tab-link" href="{{ login_url }}">
          {% trans "Anmelden mit Email" %}</a></li>
      <li class="{% active login_zipcode_url request.path %}">
        <a class="nav-tab-link" href="{{ login_zipcode_url }}">
          {% trans "Anmelden mit Kundennummer" %}</a></li>
      <li class="{% active forgot_password_url request.path %}">
        <a class="nav-tab-link" href="{{ forgot_password_url }}">
          {% trans "Passwort vergessen" %}</a></li>
      <li class="{% active signup_url request.path %}">
        <a class="nav-tab-link" href="{{ signup_url }}">
          {% trans "Registrieren" %}</a></li>
    </ul>
  {% endspaceless %}
  <div class="center_box">
    <div class="tab-content">
      <div class="tab-pane active">
        <form method="post" class="form-validated mar-top-2">
          {{ form|bootstrap }}
          <div class="form-actions">
            <button type="submit" class="btn btn-primary">{{ form.submit_label }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block jscriptlinks %}
  {% include 'snippets/validation_scripts.html' %}
{% endblock %}