{% extends "layout.html" %}
{% load explore %}
{% load i18n %}
{% block meta_keywords %}Terms of Service,ToS,AGB,Allgemeine Geschaeftsbedingungen,{% endblock %}
    {% block head %}
    <link rel="stylesheet" type="text/css" href="/media/css/static.css" />
	{% endblock %}


{% block center_block_header %}{% trans 'TERMS AND CONDITIONS' %}{% endblock %}

{% block content %}
<table width="100%" border="0" cellspacing="0" cellpadding="0" id="Team_Condition">
       <tr>
        <td colspan="2"><div class="team_content">
            <h1>Allgemeine Geschäftsbedingungen Per4 - Piercing & Tattoo</h1>
            <h2>Inh. T. Peschke (Per4) • Landsberger Allee 117A • 10407 Berlin</h2>
            <h3>Auftrag und Annahme, Ansprechpartner Auftragsbestätigung.</h3>
            <ul>
              <li><span class="team_title">I. Auftrag und Annahme, Ansprechpartner / Auftragsbestätigung.</span>
                <div class="team_text">1. Probleme mit Bestellungen, Warenlieferungen oder Rechnungen , bzw. andere Fragen der Zusammenarbeit sind mit<br />
                  Frau T. Peschke, oder einem von ihr bennanten Vertreter Landsberger Allee 117A, 10407 Berlin <br /> Tel. (+49) 030 93 66 38 21 E-Mail: info@per-4.com klärbar.<br />
                  2. Aufträge bedürfen zur Rechtswirksamkeit der Bestätigung von Per-4.
                  3. Die Minimumbestellung für Händlerkunden beträgt 25,00 EUR netto Warenwert von verfügbaren Produkten.
                  </div>
              </li>
              <li><span class="team_title">II. Lieferumfang</span>
                <div class="team_text">1. Der Lieferumfang wird durch die Auftragsbestätigung von Per-4 bestimmt.<br />
                  2. Per-4 hat das Recht, bestellte Ware in gleichem Design und zum gleichen Preis durch Ware höherwertiger Qualität zu ersetzen.<br />
                  3. Konstruktions- oder Formänderungen, die auf die Verbesserung der Technik bzw. auf Forderungen des Gesetzgebers zurückzuführen sind, bleiben während der Lieferzeit vorbehalten, sofern der Liefergegenstand nicht erheblich geändert wird und die Änderungen für den Besteller zumutbar sind.<br />
                  4. Produkte, welche unter das Arzneimittelgesetz fallen, werden von Per-4 nur an Endverbraucher verkauft. Per-4 darf diese nicht an Ärzte/Praxen liefern. Bitte wenden Sie sich an Ihren pharmazeutischen Großhändler.</div>
              </li>
              <li><span class="team_title">III. Lieferfrist</span>
                <div class="team_text">1. Die Lieferfrist beträgt grundsätzlich sieben Kalendertage und beginnt mit der Auftragsbestätigung. Wenn Per-4 die bestellte Ware nicht innerhalb dieser Zeit absenden kann, wird sich Per-4 mit dem Auftraggeber direkt in Verbindung setzen, um die notwendigen Entscheidungen im gegenseitigen Einvernehmen zu treffen.<br />
                  2. Die Lieferfrist verlängert sich bei Maßnahmen im Rahmen von Arbeitskämpfen, insbesondere Streik und Aussperrung sowie beim Eintritt unvorhergesehener Hindernisse, die außerhalb unseres Willens liegen, z. B. Betriebsstörungen, Verzögerungen in der Anlieferung wesentlicher Materialien, soweit solche Hindernisse nachweislich auf die Lieferung des Liefergegenstandes von erheblichem Einfluss sind. Dies gilt auch, wenn die Umstände bei Unterlieferern eintreten. Die Lieferfrist verlängert sich entsprechend der Dauer derartiger Maßnahmen und Hindernisse. Die vorbezeichneten Umstände sind auch dann von Per-4 nicht zu vertreten, wenn sie während eines bereits vorliegenden Verzuges entstehen. Per-4 wird Beginn und Ende derartiger Hindernisse in wichtigen Fällen dem Besteller baldmöglichst mitteilen.</div>
              </li>
              <li><span class="team_title">IV. Verpackung und Versand</span>
                <div class="team_text">Verpackungen werden Eigentum des Bestellers. Verpackung und Versand werden gesondert in Rechnung gestellt. Bitte entnehmen Sie die anfallenden Kosten der Portokostentabelle im jeweils gültigen Katalog. Die Wahl der Versandart erfolgt nach bestem Ermessen.</div>
              </li>
              <li><span class="team_title">V. Abnahme der Ware</span>
                <div class="team_text">1. Der Besteller ist verpflichtet, die Ware anzunehmen. Der Besteller ist ebenfalls verpflichtet, die Ware innerhalb von vierzehn Tagen nach Zugang zu prüfen und hat Mängel unverzüglich anzuzeigen.<br />
                  2. Bleibt der Besteller mit der Annahme der Ware länger als vierzehn Tage ab Zugang der Ware vorsätzlich oder grob fahrlässig im Rückstand, so ist Per-4 nach Setzung einer Nachfrist von weiteren vierzehn Tagen berechtigt, vom Vertrag zurückzutreten oder Schadensersatz wegen Nichterfüllung zu verlangen. Der Setzung einer Nachfrist bedarf es nicht, wenn der Besteller die Annahme ernsthaft oder endgültig verweigert oder offenkundig auch innerhalb dieser Zeit zur Zahlung des Kaufpreises nicht imstande ist.<br />
                3. Die Gefahr des zufälligen Untergangs geht mit der Annahme der Ware auf den Besteller über.</div>
              </li>
              <li><span class="team_title">
VI. Preise und Preisänderungen</span>
                <div class="team_text">1. Die Informationen des jeweils neuesten Per-4 Kataloges sowie dessen Preisliste ersetzen die Informationen des vorhergehenden Kataloges und dessen Preisliste. Im Katalog angegebene Preise sind Großhandelspreise. Im Internet für die Allgemeinheit veröffentlichte Preise sind Endkundenpreise. Die Mehrwertsteuer wird zusätzlich geschuldet und ist in den Preisen nicht bereits enthalten.<br />
2. Großhandelspreise gewährt Per-4 grundsätzlich nur den Kunden, die eine gültige Gewerbeanmeldung zum Betrieb eines Piercing- bzw. Tattoostudios oder eines vergleichbaren Betriebes vorweisen können.<br />
3. Preisänderungen sind grundsätzlich nur im abgestimmten Umfang zulässig. Für veröffentlichte Preise wird keine Garantie übernommen.</div>
              </li>
              <li><span class="team_title">
VII. Gewährleistung</span>
                <div class="team_text">1. Per-4 übernimmt in der folgenden Weise die Haftung für Mängel an der gelieferten Ware:
<br />
    a) Während eines Zeitraumes von sechs Monaten nach Übernahme der Ware hat der Besteller einen Anspruch auf Beseitigung von Fehlern (Nachbesserung). Kann Per-4 einen der Gewährleistungspflicht unterliegenden Fehler nicht beseitigen (Fehlschlagen der Nachbesserung) oder sind für den Besteller weitere Nachbesserungsversuche unzumutbar, so kann der Besteller anstelle der Nachbesserung Wandlung (Rückgängigmachung des Vertrages) oder Minderung (Herabsetzung der Vergütung) verlangen. Warenrücksendungen können nur akzeptiert werden, wenn die Ware in der Per-4-Originalverpackung und unbenutzt auf Kosten des Auftraggebers an Per-4 zurückgesandt wird.
<br />
    b) Natürlicher Verschleiß ist in jedem Fall von der Gewährleistung ausgeschlossen.
<br />
2. Wegen weitergehender Ansprüche und Rechte haftet Per-4 nur in den Fällen des Vorsatzes und grober Fahrlässigkeit. Im Übrigen ist die Haftung ausgeschlossen.</div>
              </li>
               <li><span class="team_title">
VIII. Eigentumsvorbehalt</span>
                <div class="team_text">1. Per-4 behält sich das Eigentum an den Liefergegenständen bis zur vollständigen Zahlung vor.
<br />
2. Bei vertragswidrigem Verhalten des Bestellers, insbesondere bei Zahlungsverzug, ist Per-4 zur Rücknahme nach Mahnung berechtigt und der Besteller zur Herausgabe der Liefergegenstände verpflichtet.
<br />
3. Die Geltendmachung des Eigentumsvorbehaltes sowie die Pfändung der Liefergegenstände durch Per-4 gelten nicht als Rücktritt vom Vertrag, sofern nicht die Bestimmungen des Verbraucherkreditgesetzes Anwendung finden oder dies ausdrücklich durch Per-4 schriftlich erklärt wird.
<br />
4. Der Besteller darf die Liefergegenstände weder verpfänden, noch zur Sicherung übereignen. Bei Pfändungen sowie Beschlagnahme oder sonstigen Verfügungen durch Dritte, hat der Besteller Per-4 unverzüglich davon zu benachrichtigen und alle Auskünfte und Unterlagen zur Verfügung zu stellen, die zur Wahrung der Rechte von Per-4 erforderlich sind. Vollstreckungsbeamte bzw. Dritte sind auf das Eigentum von Per-4 hinzuweisen.</div>
              </li>
               <li><span class="team_title">
IX. Haftung</span>
                <div class="team_text">
1. Schadensersatzansprüche aus Delikt sind ausgeschlossen, es sei denn, der Schaden wurde vorsätzlich oder durch grobe Fahrlässigkeit verursacht. Dies gilt auch bei Handlungen der Verrichtungs- und Erfüllungsgehilfen.
<br />
2. Per-4 übernimmt keine Haftung für Unverträglichkeiten der Materialien an lebenden Organismen und für die Verwendung der gelieferten Waren durch den Besteller.
<br />
3. Der Besteller verpflichtet sich gegenüber Per-4 den Endkunden über die Gefahren der Verwendung der Per-4-Artikel am menschlichen Körper umfassend zu informieren und stellt in sofern Per-4 von jeglicher Haftung auf Grund ungenügender Information frei.</div>
              </li>
              <li><span class="team_title">
X. Zahlungsbedingungen</span>
                <div class="team_text">
1. Der Kaufpreis und die Entgelte für Nebenleistungen sind bei Übergabe der Ware zur Zahlung fällig.
<br />
2. Verzugszinsen werden von Per-4 mit 9% p.a. über dem Basiszinssatz berechnet. Sie sind höher niedriger anzusetzen, wenn Per-4 eine Belastung mit einem höheren Zinssatz oder wenn der Besteller eine geringere Belastung nachweist.
<br />
3. Die Zurückhaltung von Zahlungen wegen irgendwelcher von Per-4 nicht anerkannter Gegenansprüche des Bestellers ist nicht statthaft, ebenso wenig die Aufrechnung mit solchen.</div>
              </li>
              <li><span class="team_title">
XI. Erfüllungsort und Gerichtsstand</span>
                <div class="team_text">
1. Erfüllungsort ist Berlin.
<br />
2. Bei allen sich aus dem Vertragsverhältnis ergebenden Streitigkeiten ist Klage bei dem Gericht zu erheben, das für unseren Hauptsitz zuständig ist. Dies ist das Amtsgericht Berlin-Mitte oder das Landgericht Berlin. Per-4 ist auch berechtigt, am Hauptsitz des Bestellers zu klagen.</div>
              </li>
              <li><span class="team_title">
XII. Sonstiges</span>
                <div class="team_text">
1. Übertragungen von Rechten und Pflichten des Bestellers aus dem mit Per-4 geschlossenen Vertrag bedürfen zu ihrer Wirksamkeit der schriftlichen Zustimmung.
<br />
2. Es gilt deutsches Recht unter Ausschluss des UN-Kaufrechts und des deutschen Internationalen Privatrechts.
<br />
3. Sollte eine Bestimmung nichtig sein oder werden, so bleibt die Gültigkeit der anderen Bestimmungen hiervon unberührt. </div>
              </li>
            </ul>
          </div></td>
      </tr>
    </table>
{% endblock %}