{% extends "layout_free_center.html" %}
{% load explore %}
{% load i18n %}

{% block centerbox %}
	<div class="vertical first">
    <a href="/tattoo/" title="Neu in TATTOO">
			<img src="/media/images/news/welcome_1.jpg?20120321"  alt="Neu in TATTOO"/>
     </a>
	</div>
	<div class="vertical" style="margin-top:1em;">
			<img src="/media/images/news/welcome_5.jpg?20120321" alt="&th Anniversary Discount / 7ter Geburtstagsrabatt"/>
	</div>
	<div class="homepageblock">
		<div class="floatLeft">
			<a href="/piercing/uv_fluor/AXS-SET/" title="NEUES ACRYL DEHNSPIRALEN SET">
				<img src="/media/images/news/welcome_2.jpg?20111208" alt="NEUES ACRYL DEHNSPIRALEN SET"/><p class="caption">NEUES ACRYL DEHNSPIRALEN SET</p>
			</a>
		</div>
		<div class="floatLeft">
			<a href="/tattoo/tattoo_inks/XSPA/" title="SCHABLONENPAPIER - HEKTOGRAPHISCHES PAPIER">
				<img src="/media/images/news/welcome_3.jpg?20120321" alt="SCHABLONENPAPIER - HEKTOGRAPHISCHES PAPIER"/><p class="caption">SCHABLONENPAPIER - HEKTOGRAPHISCHES PAPIER</p>
			</a>
		</div>
		<div class="floatLeft last">
			<img src="/media/images/news/welcome_4.jpg?20120321" alt="FAKE SPIRAL"/><p class="caption">Frankfurt Convention<br/>30. M&auml;rz - 1. April</p>
		</div>
	</div>
{% endblock %}