{% extends "layout.html" %}
{% load i18n explore %}
{% block meta_keywords %}Materials,Information,Materialien,{% endblock %}
{% block center_block_header %}{% trans 'Material Guide' %}{% endblock %}
{% block head %} <link rel="stylesheet" type="text/css" href="/media/css/static.css?20090319" />{% endblock %}
{% block content %}
<div id="material" style="padding: 15px;">
    <ul>
    	<li><a name="puretitanium"><img src="/media/images/static/material_puretitanium.gif" width="291" height="58" alt="puretitanium" /></a></li>
        <li class="material_part">El Titanio se ha convertido en uno de los materiales preferidos por los profesionales del Piercing. Es un metal  muy duro y a la vez ligero, resistente a la mayoría de los ácidos y fluídos corporales. No irrita ni los tejidos ni los huesos, razón por la cual es usado para implantes quirúrgicos permanentes. PER4 utiliza titanio de los grados 2 y 23 (Ti6AL 4V Eli) y recomienda su utilización para primeras puestas. Cumplimos con la European Nickel Directive.</li>

        <li><a name="ptfe"><img src="/media/images/static/material_ptfe.gif" width="130" height="57" alt="ptfe" /></a></li>
        <li class="material_part">Beneficios de P.T.F.E. (Polytetrafluorethyleno):
        	<ul>
        	  <li>Se puede esterilizar en autoclave a 160 grados.</li>
              <li>Es totalmente flexible y biocompatible. P.T.F.E. es translucido.</li>
        	  <li>No se conocen reacciones alérgicas hasta el momento.</li>
        	  <li>Se puede cortar y crear una rosca a medida. </li>
        	</ul>
        </li>
        <li><a name="pmfk"><img src="/media/images/static/material_pmfk.gif" width="127" height="89" alt="pmfk" /></a></li>
        <li class="material_part">Beneficios de P.M.F.K (Polymeric Medical Flexible Plastic):
        <ul>
        	  <li>Esterilización por Autoclave a 120 grados a 20 minutos y 134 grados a 5 minutos.</li>        	
              <li>Es menos flexible que el P.T.F.E. Permite de esta manera se puede producir modelos como Circular Barbells oBananas.</li>
        	  <li>Existe en varios colores. El color está disuelto en el polymérico, no disperso y así biocompatible.</li>
        	  <li>Se puede cortar y crear una rosca a medida.</li>
        	</ul>
        </li>       
        
        <li><a name="surgical"><img src="/media/images/static/material_surgical.gif" width="344" height="52" alt="surgical" /></a></li>
        <li class="material_part">PER-4  utiliza acero quirúrgico 316LVM - ASTM F138-97. que es un grado de implante. utilizado con éxito en la cirurgía durante las últimas décadas.  El acero 316LVM está disuelto al vacio. libre de oxígeno y elementos tóxicos. para reducir la proporción de carbón y otros elementos contaminantes en las piezas. El acero de PER-4  cumple con la European Nickel Directive y la sobrepasa.</li>

        <li><a name="black_gold"><img src="/media/images/static/material_balckgold.gif" width="344" height="56" alt="black & gold" /></a></li>
        <li class="material_part">Todos nuestros piercings de la línea Black &amp; Gold son de acero quirurgico 316L con un baño de PVD negro (Physical Vapour Deposition).</li>

        <li><a name="organics"><img src="/media/images/static/material_organics.gif" width="240" height="70" alt="organics" /></a></li>
        <li class="material_part">Nuestros piercings  de horn y madera son todos únicos y hechos a mano. Ninguna pieza  es al 100% igual a otra. Los materiales son absolutamente naturales y están de acuerdo con las normas europeas de importación. Per-4 no recomienda estas piezas para primera puesta. Las barras de metal son de acero quirúrgico 316L.</li>

        <li><a name="gold"><img src="/media/images/static/material_gold.gif" width="206" height="49" alt="Gold 18K" /></a></li>
        <li class="material_part">PER4 utiliza solo y exclusivamente oro de 18 k (75% de oro) para sus Piercings de oro.  Toda la joyería es libre de Nickel y está altamente pulida.</li>

        <li><a name="silver"><img src="/media/images/static/material_sterling.gif" width="330" height="76" alt="sterling silver" /></a></li>
        <li class="material_part">Todas las piezas de esta sección están fabricadas bajo un control estricto de calidad que garantiza una compra segura y satisfactoria. Trabajamos exclusivamente con piedras engarzadas y plata de 1ª ley con el sello “925” . La barra, que está en contacto directo con la piel, es de Acero Quirurgico 316L o de Titanium.</li>

        <li><a name="fluor"><img src="/media/images/static/material_uv.gif" width="227" height="51" alt="UV Fluur" /></a></li>
        <li class="material_part">PER4 os ofrece un surtido amplio de piezas acrylicas. Dado a sus colores, formas, propiedades fluorescentes y precios bajos tiene una gran aceptación en el mercado.  Sin embargo hay que ser prudente ya que no está comprobada la biocompatibilidad. Acrylico no se puede esterilizar en autoclave, ni usar en primeras puestas. La barra, que está en contacto directo con la piel, es de Acero Quirurgico 316L o de Titanium (por elegir). </li>
    </ul>
</div>
{% endblock %}