{% extends "layout_free_center.html" %}
{% load explore %}
{% load i18n %}
{% block meta_keywords %}Neuigkeiten,News,Nachrichten,Aktuelles,{% endblock %}
{% block pagetitle %}{% trans "News" %} | {% endblock %}

{% block centerbox %}



	<div style="width: 447px; position: relative; float: left;">
		<div class="horizontal" style="width: 447px">
			<div class="segment">
				<div class="title" style="width: 447px"><div>Convention Calendar 2010! Meet Us!</div></div>
				<div style="padding: 5px;">
					<center><b>P e r - 4  &nbsp;&nbsp; C a l e n d a r<br/>T a t t o o - C o n v e n t i o n s<br/>2 0 1 0</b></center>
						<h1>Germany</h1>
						<ul style="text-align:center;">
							<li style="color: red;">Regensburg 24-25 April 2010 </li>
							<li>Rostock 14-15 August 2010</li>
							<li>L&uuml;beck 4-5 September 2010</li>
							<li>Berlin BMX 17-18-19 September 2010</li>
							<li>Kiel 6- 7 November 2010 </li>
							<li>Berlin 3- 5 December 2010</li>
						</ul>
						<h1>Italy</h1>
						<ul style="text-align:center;">
							<li style="color: red;">Rome 7-8-9 May 2010</li>
						</ul>
						<h1>France</h1>
						<ul style="text-align:center;">
							<li>Evian 18-19-20 June 2010</li>
						</ul>
						<h1>Czech Republic</h1>
						<ul style="text-align:center;">
							<li style="color: red;">Praha 7-8-9 MAY 2010</li>
						</ul>
						<h1>Poland</h1>
						<ul style="text-align:center;">
							<li>Krakow 12–13 June 2010</li>
						</ul>
						<h1>Spain</h1>
						<ul style="text-align:center;">
							<li>Barcelona 1-2-3 October 2010</li>
						</ul>
				</div>
			</div>
		</div>
	
	
		<div class="horizontal" style="width: 447px">
			<div class="segment">
				<div class="title" style="width: 447px"><div>Neue T&auml;towiermittelverordnung f&uuml;r Deutschland</div></div>
				<div style="padding: 5px;">
					<b>Ab 1. Mai 2009 tritt die</b> 
					
					<p style="text-align: center;font-weight: bold; margin: 10px;">"Verordnung<br/>
					&uuml;ber Mittel zum T&auml;towieren einschlie&szlig;lich<br/> 
					bestimmter vergleichbarer Stoffe und Zubereitungen aus Stoffen<br/>
					(T&auml;towiermittelverordnung)<br/>
					vom 13. November 2008</p>
					in Kraft. Wir haben daher nochmal die Links unten bereitgestellt. Dies sind nur Links und sollten nicht als professionelle oder rechtliche Beratung misverstanden werden. 
					(Für eine solche sollten Sie immer einen Sachverständigen zurate ziehen).
					<ol style="text-align: center;font-weight: bold; margin: 10px;"
					<li style="margin: 10px;"><a href="http://frei.bundesgesetzblatt.de/index.php?teil=I&jahr=2008&nr=53">www.bundesgesetzblatt.de,<br/>die Tätowiermittel-Verordnung<br/>(BGBl. I Nr. 53 vom 27.11.2008)</a></li>
					<li style="margin: 10px;"><a href="http://www.gesetze-im-internet.de/kosmetikv/index.html#BJNR025890977BJNE001622310">www.gesetze-im-internet.de,<br/>Verordnung über kosmetische Mittel<br/>(BGBl. I 1997, 2433 - 2440)</a></li>
					<li style="margin: 10px;"><a href="http://frei.bundesgesetzblatt.de/index.php?teil=I&jahr=2008&nr=41">www.bundesgesetzblatt.de,<br/>Siebenundvierzigste Verordnung zur Änderung der Kosmetik-Verordnung<br/>(BGBl I Nr. 41 vom 23.09.2008)</a></li>
					</ol>
				</div>
			</div>
		</div>


		<div class="horizontal" style="width: 447px">
			<div class="segment">
				<div class="title" style="width: 447px"><div>Thanks for visiting us at the 18th Tattoo Convention in Berlin!</div></div>
				<img alt="18. Tattoo Convention Berlin" src="/media/images/news/banner-convention.jpg">
			</div>
		</div>
		<div class="horizontal" style="width: 447px">
			<div class="segment">
				<div class="title" style="width: 447px"><div>4/5. Oktober 2008</div></div>
				<img alt="Lukas Zpira!" src="/media/images/news/lukas-zpira.jpg" usemap="#Landkarte">
				<map name="Landkarte">
					<area shape="rect" coords="1,1,174,110" href="/gallery/" alt="Gallerie" title="Gallery">
					<area shape="rect" coords="175,1,447,110" href="/media/downloads/LukasZpira.mp4" alt="Lukas Zpira MP4 (30MB)" title="Lukas Zpira MP4 (30MB)">
				</map>
			</div>
		</div>	
	</div>

	<div style="position: relative;float:left; width: 158px;">
		<div class="horizontal" style="margin-left: 10px">
			<div class="segment" style="background: #C6C7C8 none repeat scroll 0 0;">
				<div class="title"><div style="width: 158px;">&Ouml;ffnungszeiten</div></div>
				<div style="margin: 10px 10px;text-align: center; font-size: 14px;">
					<div class="announce_title">{% trans "Montag bis Freitag" %}</div>
					<div class="announce_title">{% trans "9 Uhr bis 18 Uhr" %}</div><br/>
					<div class="announce_text">{% trans "Landsberger Allee 117A" %}</div>
					<div class="announce_text">{% trans "10407 Berlin" %}</div>
				</div>
			</div>
		</div>	
		<div class="horizontal" style="margin-left: 10px">
			<div class="segment">
				<div class="title"><div style="width: 158px;">Kunden werben Kunden</div></div>
				<a href="/media/downloads/KundenWerbenKunden.pdf"><img alt="Kunden werben Kunden" src="/media/images/news/kunden-werben-kunden.jpg"></a>
				
			</div>
		</div>
		
		<div class="horizontal" style="margin-left: 10px">
			<div class="segment">
				<div class="title"><div style="width: 158px;">Neues B&uuml;ro</div></div>
				<img alt="Kunden werben Kunden" src="/media/images/news/new_office.jpg">
				
			</div>
		</div>					
	</div>	

{% endblock %}