html {background-color: black;}

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }


.wordbreak(){
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: normal;
}

@border-color: #ccc;
@title-color: black;

@import "../bootstrap/bootstrap";



@import "site/elements";
@import "site/forms";
@import "site/cms";
@import "site/homepage";
@import "site/navigation";
@import "site/shopping_cart";
@import "site/header";
@import "site/footer";
@import "site/explore";
@import "site/static_content";
