{% extends "user/profile.html" %}
{% load i18n %}

{% block onloadAll %}
	$('#id_same_address_0').click(function() {
		$('#shippingForm').hide();
	});
	$('#id_same_address_1').click(function() {
		$('#shippingForm').show();
	});
{% endblock %}

{% block content %}
<div class="center_box">
    <div id="required"><div>{% trans "Required fields" %}</div></div>
    <div class="reg_title"><label class="reg_title_bg">{% trans "Your details" %}</label></div>
    <div class="reg_bg"></div>
    <div id="reg_form">
    <form id="myform" action="/user/profile/account/save/" method="post">
	{% include "user/account_details_E.html" %}
    </form>
   </div>
</div>
{% endblock %}
