{% extends "layout.html" %}
{% load i18n %}

{% block head %}

{% endblock %}

{% block center_block_header %}{% trans 'Login' %}{% endblock %}

{% block content %}
<div class="center_box">
   <div class="reg_form">
   <form action="/user/login/" method="post" id="myform">
   <input type="hidden" id="role" name="role" />
   <input type="hidden" name="forward_URL" value="{{ forward_URL }}" />
   <br/><br/>
   <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td class="reg_text">{% trans 'E-mail Address' %} / {% trans 'Kundennummer' %}</td>
        <td width="200px"><div class="reg_class"><div class="reg_input">
        	<input type="text" name="email" value="{% if register_form.email.data %}{{ register_form.email.data }}{% endif %}" id="id_email"/>
        	<span id="error.email">
        	{% if register_form.email.errors %}
        	<label class="reg_ico"><img align="absmiddle" src="/media/images/cross.png" alt="error">{% for error in register_form.email.errors %}{{ error }}{% endfor %}</label>
        	{% endif %}
        	</span>
        	</div></div>
        </td>
      </tr>
      <tr>
        <td class="reg_text">{% trans 'Password' %} / {% trans 'PLZ' %}</td>
        <td width="200px"><div class="reg_class"><div class="reg_input">
        	<input name="password" type="password" id="password"/>
        	{% if register_form.password.errors %}
        	<label class="reg_ico"><img align="absmiddle" src="/media/images/cross.png" alt="error" />{% for error in register_form.password.errors %}{{ error }}{% endfor %}</label>
        	{% endif %}
        	</div></div>
        </td>
      </tr>

      <tr><td></td>
        <td><div class="error">{{ error }}</div></td>
      </tr>

      
      <tr>
        <td class="reg_text"></td>
        <td>
           <div class="button active floatLeft spaced"><input type="submit" value="{% trans "Login" %}"/></div>
        </td>
      </tr>

      <tr>
        <td class="reg_text"></td>
        <td><br/>
           <a href="/user/registration/?studio={{ studio }}" title="Sign up" style="text-decoration:underline;">{% trans "Sign up for Per-4.com" %}</a>
        </td>
      </tr>

      <tr>
        <td class="reg_text"></td>
        <td><br/>
            <a href="/user/profile/password/" style="text-decoration:underline;">{% trans "forgot your password?" %}</a>
        </td>
      </tr>      
	  
	  <tr>
        <td colspan="2" style="padding:10px;"><br/>
            Please observe that Customernumber and ZIP Code only work, if you have received that Login by mail.<br/><br/>
			Bitte beachten Sie, das Kundennummer und PLZ einloggen nur klappt, wenn Sie die Information auch per Post erhalten haben.
        </td>
      </tr>


    </table>
    </form>


   </div>
</div>
{% endblock %}


{% block onloadAll %}
	verifyEnterToSubmit('#password');
	$('#id_email').focus();
{% endblock %}