{% extends "layout.html" %}
{% load i18n %}

{% block head %}

{% endblock %}

{% block center_block_header %}{% trans 'REGISTRATION - NEW USER - RETAIL' %}{% endblock %}

{% block content %}
<div class="center_box">
    <div class="block"></div>
	<div class="reg_title"><label class="reg_title_bg">{% trans 'Confirmation' %}</label></div>
	<div class="reg_bg"></div>
	<div id="reg_form">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td class="reg_home"><p>{% trans 'You have completed your registration successfully.' %}</p><p>{% trans 'Shortly you will get a confirmation by e-mail. To activate your account please click on the link in your email.' %}</p></td>
		</tr>
        <tr>
			<td class="reg_home">
                <div class="button active floatLeft spaced"><a href="/main/">{% trans "Home" %}</a></div>
            </td>
        </tr>
		</table>
	</div>
</div>
{% endblock %}
